* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.header{
    height:70px;
    width: 100%;
}

h1{
    position: absolute;
    left:50px;
    bottom: 0px;
    color:#29B1DD;
}

.filter {
    text-align: center;
    background-color: #29b1dd;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    color: white;
    display: inline-block;
}

#icons-container{
    height: calc(100vh - 140px);
    background-color: #dddddd;
}

.menu{
    background-color: #29B1DD;
    height:70px;
    width:100%; 
    line-height: 70px;     
}

.box{
    background-color:white;
    height: 150px;
    width: 200px;
    border-radius: 10%;
    box-shadow: lightgrey;
    text-align: center;
    line-height: 160px;
}

.icons{
    overflow-x: auto;
    overflow-x: hidden;
    height: calc(100vh - 140px);
}