* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #29b1dd;
}

.filter {
    text-align: center;
    background-color: #29b1dd;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    color: white;
    display: inline-block;
}

#icons-container{
    height: calc(100vh - 140px);
    background-color: #dddddd;
}